<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Theft rundown</title>
</head>
<body>

    {% extends "layout.html" %}
{% block content %}

    <br>

    <div>
    <h3><b>Tips on Safe Security</b></h3>
    </div>
    <br>

<div>
    <p><i><b>About Information Security </b></i></p>
    <p>Data theft can occur at anytime and any place. Its not a question if i will be hacked or comprised. It is when will it happen and the world has to
    be prepared.</p>
</div>


    <li><a href="{{ url_for('home') }}"><b>Home</b></a></li>
{% endblock %}



</body>
</html>