<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Theft rundown</title>
</head>
<body>


    {% extends "layout.html" %}
    {% block content %}

    <br>
    <br>
    <br>
    <br>

    <div>
    <section>
            <br>
            <p><h4>What is Data Theft and how do describe this. Some people would say its just about stealing Data, however its much more</h4></p>

            <div align="left"><h3> Definition of Data Theft</h3></div>
            <p><h4>"Data theft is the act of stealing computer-based information from an unknowing victim with the intent of compromising privacy or obtaining confidential information. Data theft is increasingly a problem for individual computer users, as well as big corporate firms."</h4> </p>
        </section>
    </div>


     <div>
    <section>
            <br>
            <p><h4>What is Data Theft and how do describe this. Some people would say its just about stealing Data, however its much more</h4></p>

            <div align="left"><h3> What Drives Data Theft </h3></div>
            <p><h4>"Data theft is the act of stealing computer-based information from an unknowing victim with the intent of compromising privacy or obtaining confidential information. Data theft is increasingly a problem for individual computer users, as well as big corporate firms."</h4> </p>
        </section>
    </div>


     <div>
    <section>
            <br>
            <p><h4>What is Data Theft and how do describe this. Some people would say its just about stealing Data, however its much more</h4></p>

            <div align="left"><h3> Different Types of Data Theft </h3></div>
            <p><h4>"Data theft is the act of stealing computer-based information from an unknowing victim with the intent of compromising privacy or obtaining confidential information. Data theft is increasingly a problem for individual computer users, as well as big corporate firms."</h4> </p>
        </section>
    </div>




{% endblock %}

<div class="container text-center">



</div>

</body>
</html>