<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Theft rundown</title>
</head>
<body>

    {% extends "layout.html" %}
{% block content %}
    <h3><b>About Data Theft</b></h3>
    <br>

<section>
    <p><i><b>When does Data Theft Occur</b></i></p>
    <p>Data theft can occur at anytime and any place. Its not a question if i will be hacked or comprised. It is when will it happen and the world has to
    be prepared.</p>
    </section>


    <li><a href="{{ url_for('home') }}"><b>Home</b></a></li>
{% endblock %}



</body>
</html>