<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Theft information</title>



    
</head>
<body>

 

    {% extends "layout.html" %}
    {% block content %}

    <br>
    <br>
    <br>
    <br>

    <div>
    <section>
            <br>
            <p><b><strong><h4>Welcome to Data Breaches the information hub on latest attacks and techniques that hackers are using to obtain information.</strong></h4

             <p><h4> Data Theft is on the rise and this website outlines the latest issues and threats that scour the web for both everyday users and companies. </h4> </p>

         

    </div>

    {% endblock %}


    <div>
            
        </div>

</body>
</html>