<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Theft information</title>

</head>
<body>

 

    {% extends "layout.html" %}
    {% block content %}

   <br>
   <br>
   <br>

   <div>
    <section>
            <br>
            <p><b><strong><h4>Welcome to Data Breaches the information hub on latest attacks and techniques that hackers are using to obtain information.</strong></h4>
    <section>
            <br>

    <section>
            <p><b><strong><h4>The battle of Cyber Attacks and Data Theft continue as criminals and hackers find new ways to attack both consumers and media. Security should be shared responsibilty in safesguarding our data whether on a laptop to a scocial mdeia account. This site is for any person who wants to find out about the latest threats and links to anything to do with Data Theft and Security... </strong></h4>
    </section>

             


    </div>

    <div class="hacking_img">
        <img src="\static\media\hack_me.png" height="285" width="285">
        <img src="\static\media\digital.png" height="285" width="285">
        <img src="\static\media\usbtheft.png" height="285" width="285">
    </div>



    {% endblock %}



            


</body>
</html>