<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security test</title>
</head>
<body>


        {% extends "layout.html" %}
        {% block content %}
    
    <br>
    <br>
    <br>
    <br>

    <div>
    <section>
            <br>

            <p><h4>There is always ongoing security issues and latest patches and techniques to stop the corrupt and criminal. The purpose of this page to give you external links to all things security. To give you information and insight on how to protect yourself and your valubale data.</h4></p>

             <div align="left"><h3> Security links below </h3></div>
    </section>

         
    </div>
    
    
    
    {% endblock %}

</body>
</html>